.container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.container > h2 {
  background-color: purple;
  width: 40%;
  padding: 5px;
  border-radius: 10px;
  color: blanchedalmond;
  text-align: center;
}

.booking_card {
  margin-top: 30px;
}

.title_subHeading {
  font-size: 24px;
  text-align: center;
  text-decoration-line: underline;
}
